---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Mukezhz"
  description="Pragmatic, passionate, and persistent software engineer who loves to build software that solves real-world problems."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          class="about-image"
          width="400"
          height="400"
          src="/assets/looking.jpg"
          alt="Mukesh Kumar Chaudhary at Bhoos KTM JS Meetup"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Hello there! I'm Mukesh Kumar Chaudhary, a software engineer based
            in Nepal. I enjoy building software that solves real-world problems
            and helps people. I have a passion for learning new technologies and
            sharing my knowledge with others. I usually write about software
            development, productivity, and life. I am currently working as a
            Software Engineer at <a href="https://www.hamropatro.com/"
              >Hamropatro</a
            >. I am also a member of <a href="https://www.nosk.org.np/"
              >Nepal Open Source Klub</a
            >.
          </p>
          <br />
          <p>
            My interest in software development started back in 2012 when I was
            in my school. I had a pentium 4 computer of spec: 512MB ram 128GB
            sata harddisk where I used to play games. I want to become a game
            developer back then. I was introduced to programming by my brother
            who was engineering student and he has a laptop. I remember he used
            to code in black screen back then, now I know it was Turbo C. When I
            went to 8th grade there used to be computer class where teacher used
            to teach Q-Basic and HTML and at 10th grade there was something
            called database. I didn't know what I was doing back then which I
            found fascinating now.
          </p>
          <br />
          <p>
            After completing my secondary school, I went to high school to study
            computer science. There used to be computer class at 11th grade but
            not in 12th grade. I was introduced to HTML, CSS, JavaScript. After
            completing my high school, I went to college to study IT engineering
            at Nepal College of Information Technology(NCIT). Before joining I
            researched about mobile game development and I found out that I need
            to learn java to develop android games. So, before joining college I
            was learning java on my own by researching on internet. I used to
            watch youtube videos and read articles on internet but I didn't know
            what I was doing. I was just copying and pasting the code. I didn't
            know what I was doing back then. I remember, I always stuck at
            polymorphism [MANY + FORM]. After several days of trying I got the
            concept of Object Oriented Programming.
          </p>
          <br />
          <p>
            I had a huge expectation from college but it was not what I
            expected. Since I was learning java on my own, I was ahead of my
            classmates which helped me learn C easily. I was really disappointed
            with the college. I used to think once I join the college I will be
            able to develop game but it didn't happen. I was introduced to open
            source by NOSK. After joining NOSK I got to know about programming
            concepts like programming paradigm, open source, linux, helping
            others, doing projects. Before I used to think programming is just
            about developing game or software xD, after joining NOSK it changed
            my perspective. Programming is all about problem solving. So I
            started learning programming on my own and I have been learning ever
            since.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            2017-2023: Bachelors of Engineering in Information Technology at
            Nepal College of Information Technology
          </p>
          <p>2015-2017: +2 Level at Takshashila Academy</p>
          <p>2015: Secondary School at Shivapuri Higher Secondary School</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            I don't believe in having skill at a particular language or tool. I
            believe in learning tools and technique to solve problem. So I learn
            stuffs depending upon problem. I have worked with following:
            Java(Micronaut), Golang(gRPC), JavaScript(React, Vue, Svelte),
            Python(Django, Flask, FastAPI), Docker, Kubernetes, GIT, Linux,
            Nginx, Ansible, HA Proxy, ElasticSearch ...
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
  .about-image {
    margin: 0 auto;
  }
</style>
